a {
    text-decoration: none;
    
}


h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 44px;
    color: orange;

    
    
    
}

body {
    font-family: serif bold italic;
    text-align:center;
    background-color: lightblue;
    font-size: 20px;
    
    }
    

